In [1]:
import pandas as pd  
import numpy as np 
import matplotlib.pyplot as plt  
import seaborn as sns  
from datetime import datetime

In [2]:
file_path = "Groceries_dataset.csv"
df = pd.read_csv(file_path)
print(df.head())

   Member_number        Date   itemDescription
0           1808  21-07-2015    tropical fruit
1           2552  05-01-2015        whole milk
2           2300  19-09-2015         pip fruit
3           1187  12-12-2015  other vegetables
4           3037  01-02-2015        whole milk

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38765 entries, 0 to 38764
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Member_number    38765 non-null  int64
 1   Date             38765 non-null  object
 2   itemDescription  38765 non-null  object
dtypes: int64(1), object(2)
memory usage: 908.7+ KB

In [4]:
df.head()

   Member_number        Date   itemDescription
0           1808  21-07-2015    tropical fruit
1           2552  05-01-2015        whole milk
2           2300  19-09-2015         pip fruit
3           1187  12-12-2015  other vegetables
4           3037  01-02-2015        whole milk

In [5]:
df.head()

   Member_number        Date   itemDescription
0           1808  21-07-2015    tropical fruit
1           2552  05-01-2015        whole milk
2           2300  19-09-2015         pip fruit
3           1187  12-12-2015  other vegetables
4           3037  01-02-2015        whole milk

In [6]:
df.tail()

       Member_number        Date        itemDescription
38760           4471  08-10-2014          sliced cheese
38761           2022  23-02-2014                  candy
38762           1097  16-04-2014               cake bar
38763           1510  03-12-2014  fruit/vegetable juice
38764           1521  26-12-2014               cat food

In [7]:
df.describe()

       Member_number
count   38765.000000
mean     3003.641868
std      1153.611031
min      1000.000000
25%      2002.000000
50%      3005.000000
75%      4007.000000
max      5000.000000

In [8]:
null_values = df.isnull().sum()
print(null_values)

Member_number      0
Date               0
itemDescription    0
dtype: int64

In [9]:
duplicate_rows = df.duplicated().sum()
print("\nNumber of duplicate rows:", duplicate_rows)

Number of duplicate rows: 759

In [22]:
pip install mlxtend

Requirement already satisfied: mlxtend in c:\users\dell\anaconda3\lib\site-packages (0.23.4)
Requirement already satisfied: scipy>=1.2.1 in c:\users\dell\anaconda3\lib\site-packages (from mlxtend) (1.13.1)
Requirement already satisfied: numpy>=1.16.2 in c:\users\dell\anaconda3\lib\site-packages (from mlxtend) (1.26.4)
Requirement already satisfied: pandas>=0.24.2 in c:\users\dell\anaconda3\lib\site-packages (from mlxtend) (2.2.2)
Requirement already satisfied: scikit-learn>=1.3.1 in c:\users\dell\anaconda3\lib\site-packages (from mlxtend) (1.5.1)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\dell\anaconda3\lib\site-packages (from mlxtend) (3.9.2)
Requirement already satisfied: joblib>=0.13.2 in c:\users\dell\anaconda3\lib\site-packages (from mlxtend) (1.4.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\dell\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\dell\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\dell\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\dell\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\dell\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (24.1)
Requirement already satisfied: pillow>=8 in c:\users\dell\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\dell\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\dell\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\dell\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\dell\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2023.3)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\dell\anaconda3\lib\site-packages (from scikit-learn>=1.3.1->mlxtend) (3.5.0)
Requirement already satisfied: six>=1.5 in c:\users\dell\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [24]:
import pandas as pd
from mlxtend.frequent_patterns import apriori, association_rules
from mlxtend.preprocessing import TransactionEncoder

In [32]:
transactions = df.groupby('Member_number')['itemDescription'].apply(list).tolist()
te = TransactionEncoder()
te_ary = te.fit(transactions).transform(transactions)
df_encoded = pd.DataFrame(te_ary, columns=te.columns_)
frequent_itemsets = apriori(df_encoded, min_support=0.01, use_colnames=True)
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1)
print( frequent_itemsets)
print( rules)

       support                                           itemsets
0     0.015393                            (Instant food products)
1     0.078502                                         (UHT-milk)
2     0.031042                                    (baking powder)
3     0.119548                                             (beef)
4     0.079785                                          (berries)
...        ...                                                ...
3011  0.011031     (whole milk, soda, whipped/sour cream, yogurt)
3012  0.010518  (other vegetables, yogurt, whole milk, rolls/b...
3013  0.013597  (other vegetables, yogurt, whole milk, rolls/b...
3014  0.010005  (other vegetables, shopping bags, yogurt, whol...
3015  0.013597  (other vegetables, yogurt, whole milk, rolls/b...

[3016 rows x 2 columns]
              antecedents                                        consequents  \
0              (UHT-milk)                                             (beef)
1                  (beef)                                         (UHT-milk)
2              (UHT-milk)                                     (bottled beer)
3          (bottled beer)                                         (UHT-milk)
4         (bottled water)                                         (UHT-milk)
...                   ...                                                ...
15255  (other vegetables)             (whole milk, rolls/buns, soda, yogurt)
15256            (yogurt)   (whole milk, other vegetables, soda, rolls/buns)
15257        (whole milk)       (rolls/buns, other vegetables, soda, yogurt)
15258        (rolls/buns)       (whole milk, other vegetables, soda, yogurt)
15259              (soda)  (whole milk, rolls/buns, other vegetables, yog...

       antecedent support  consequent support   support  confidence      lift  \
0                0.078502            0.119548  0.010518    0.133987  1.120775
1                0.119548            0.078502  0.010518    0.087983  1.120775
2                0.078502            0.158799  0.014879    0.189542  1.193597
3                0.158799            0.078502  0.014879    0.093700  1.193597
4                0.213699            0.078502  0.021293    0.099640  1.269268
...                   ...                 ...       ...         ...       ...
15255            0.376603            0.024628  0.013597    0.036104  1.465954
15256            0.282966            0.031811  0.013597    0.048051  1.510499
15257            0.458184            0.020010  0.013597    0.029675  1.483002
15258            0.349666            0.027963  0.013597    0.038885  1.390578
15259            0.313494            0.034377  0.013597    0.043372  1.261658

       representativity  leverage  conviction  zhangs_metric   jaccard  \
0                   1.0  0.001133    1.016672       0.116940  0.056088
1                   1.0  0.001133    1.010396       0.122392  0.056088
2                   1.0  0.002413    1.037933       0.176014  0.066897
3                   1.0  0.002413    1.016769       0.192815  0.066897
4                   1.0  0.004517    1.023477       0.269801  0.078598
...                 ...       ...         ...            ...       ...
15255               1.0  0.004322    1.011905       0.509869  0.035076
15256               1.0  0.004595    1.017059       0.471340  0.045145
15257               1.0  0.004428    1.009961       0.601111  0.029266
15258               1.0  0.003819    1.011364       0.431893  0.037350
15259               1.0  0.002820    1.009403       0.302098  0.040675

       certainty  kulczynski
0       0.016399    0.110985
1       0.010289    0.110985
2       0.036547    0.141621
3       0.016492    0.141621
4       0.022939    0.185441
...          ...         ...
15255   0.011765    0.294093
15256   0.016773    0.237735
15257   0.009862    0.354581
15258   0.011236    0.262562
15259   0.009315    0.219447

[15260 rows x 14 columns]